@using SecondHandStoreApp.Models
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">

    <title>
        Second hand online
    </title>

    <meta name="keywords" content="">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

 
    @Styles.Render("~/Content/template-css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>

<body>

    <!-- *** TOPBAR ***
    _________________________________________________________ -->
    @Html.Partial("_TopBarPartial",new SecondHandStoreApp.Models.LoginViewModel())

    <!-- *** TOP BAR END *** -->
    <!-- *** NAVBAR ***
    _________________________________________________________ -->

    <div class="navbar navbar-default yamm" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand home" href="~/Home/Index" data-animate-hover="bounce">
                    <img src="~/img/logo.png" alt="Obaju logo" class="hidden-xs">
                    <img src="~/img/logo-small.png" alt="Obaju logo" class="visible-xs"><span class="sr-only">Obaju - go to homepage</span>
                </a>
                <div class="navbar-buttons">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-align-justify"></i>
                    </button>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                    <a class="btn btn-default navbar-toggle" href="~/Users/ShoppingCart">
                        <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs">3 itedasdasdasdms in cart</span>
                    </a>
                </div>
            </div>
            <!--/.navbar-header -->

            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-left">
                    <li id="HomeLink">
                        <a href="~/Home/Index">Home</a>
                    </li>
                    <li class="dropdown yamm-fw" id="MaleLink">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Men <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>@Html.ActionLink("All cloathing", "ListItems", "Home",  new { searchGender = Gender.Male , searchCategory = Category.Clothes }, null)</h5>
                                            <ul>
                                                <li>
                                                    @Html.ActionLink("Blazers", "ListItems", "Home", new { searchGender = Gender.Male, searchCategory = Category.Clothes, searchSubcategory = SubcategoryClothes.Blazers  }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink("JacketAndCoat", "ListItems", "Home", new { searchGender = Gender.Male, searchCategory = Category.Clothes, searchSubcategory = SubcategoryClothes.JacketAndCoat }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink("Jeans", "ListItems", "Home", new { searchGender = Gender.Male, searchCategory = Category.Clothes, searchSubcategory = SubcategoryClothes.Jeans }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink("Jumpsuit", "ListItems", "Home", new { searchGender = Gender.Male, searchCategory = Category.Clothes, searchSubcategory = SubcategoryClothes.Jumpsuit }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink("Shorts", "ListItems", "Home", new { searchGender = Gender.Male, searchCategory = Category.Clothes, searchSubcategory = SubcategoryClothes.Shorts }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink("Suits", "ListItems", "Home", new { searchGender = Gender.Male, searchCategory = Category.Clothes, searchSubcategory = SubcategoryClothes.Suits }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink("Trousers", "ListItems", "Home", new { searchGender = Gender.Male, searchCategory = Category.Clothes, searchSubcategory = SubcategoryClothes.Trousers }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink("Beachwear", "ListItems", "Home", new { searchGender = Gender.Male, searchCategory = Category.Clothes, searchSubcategory = SubcategoryClothes.Beachwear }, null)
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>@Html.ActionLink("Shoes", "ListItems", "Home", new { searchGender = Gender.Male, searchCategory = Category.Shoes }, null)</h5>
                                            <ul>
                                                <li>
                                                    @Html.ActionLink("Trainers", "ListItems", "Home", new { searchGender = Gender.Male, searchCategory = Category.Shoes, searchSubcategory = SubcategoryShoes.Trainers }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink("Sandals", "ListItems", "Home", new { searchGender = Gender.Male, searchCategory = Category.Shoes, searchSubcategory = SubcategoryShoes.Sandals }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink("Boots", "ListItems", "Home", new { searchGender = Gender.Male, searchCategory = Category.Shoes, searchSubcategory = SubcategoryShoes.Boots }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink("Shoes", "ListItems", "Home", new { searchGender = Gender.Male, searchCategory = Category.Shoes, searchSubcategory = SubcategoryShoes.Shoes }, null)
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>@Html.ActionLink("Accessories", "ListItems", "Home", new { searchGender = Gender.Male, searchCategory = Category.Accessories }, null)</h5>
                                            <ul>
                                                <li>
                                                    @Html.ActionLink("Belts", "ListItems", "Home", new { searchGender = Gender.Male, searchCategory = Category.Accessories, searchSubcategory = SubcategoryAccessories.Belts }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink("Glasses", "ListItems", "Home", new { searchGender = Gender.Male, searchCategory = Category.Accessories, searchSubcategory = SubcategoryAccessories.Glasses }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink("Hats", "ListItems", "Home", new { searchGender = Gender.Male, searchCategory = Category.Accessories, searchSubcategory = SubcategoryAccessories.Hats }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink("Sunglasses", "ListItems", "Home", new { searchGender = Gender.Male, searchCategory = Category.Accessories, searchSubcategory = SubcategoryAccessories.Sunglasses }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink("Watches", "ListItems", "Home", new { searchGender = Gender.Male, searchCategory = Category.Accessories, searchSubcategory = SubcategoryAccessories.Watches }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink("MobilePhoneCases", "ListItems", "Home", new { searchGender = Gender.Male, searchCategory = Category.Accessories, searchSubcategory = SubcategoryAccessories.MobilePhoneCases }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink("Jewellery", "ListItems", "Home", new { searchGender = Gender.Male, searchCategory = Category.Accessories, searchSubcategory = SubcategoryAccessories.Jewellery }, null)
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="banner">
                                                <a href="#">
                                                    <img src="~/img/banner.jpg" class="img img-responsive" alt="">
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown yamm-fw" id="FemaleLink">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Ladies <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>@Html.ActionLink("All cloathing", "ListItems", "Home", new { searchGender = "female", searchCategory = "clothes" }, null)</h5>
                                            <ul>
                                                <li>
                                                    @Html.ActionLink(SubcategoryClothes.Tops.ToString(), "ListItems", "Home", new { searchGender = "female", searchCategory = "clothes", searchSubcategory = SubcategoryClothes.Tops }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink(SubcategoryClothes.Trousers.ToString(), "ListItems", "Home", new { searchGender = "female", searchCategory = "clothes", searchSubcategory = SubcategoryClothes.Trousers }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink(SubcategoryClothes.Suits.ToString(), "ListItems", "Home", new { searchGender = "female", searchCategory = "clothes", searchSubcategory = SubcategoryClothes.Suits }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink(SubcategoryClothes.Skirts.ToString(), "ListItems", "Home", new { searchGender = "female", searchCategory = "clothes", searchSubcategory = SubcategoryClothes.Skirts }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink(SubcategoryClothes.Shorts.ToString(), "ListItems", "Home", new { searchGender = "female", searchCategory = "clothes", searchSubcategory = SubcategoryClothes.Shorts }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink(SubcategoryClothes.Knitwear.ToString(), "ListItems", "Home", new { searchGender = "female", searchCategory = "clothes", searchSubcategory = SubcategoryClothes.Knitwear }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink(SubcategoryClothes.Jumpsuit.ToString(), "ListItems", "Home", new { searchGender = "female", searchCategory = "clothes", searchSubcategory = SubcategoryClothes.Jumpsuit }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink(SubcategoryClothes.Jeans.ToString(), "ListItems", "Home", new { searchGender = "female", searchCategory = "clothes", searchSubcategory = SubcategoryClothes.Jeans }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink(SubcategoryClothes.JacketAndCoat.ToString(), "ListItems", "Home", new { searchGender = "female", searchCategory = "clothes", searchSubcategory = SubcategoryClothes.JacketAndCoat }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink(SubcategoryClothes.Dresses.ToString(), "ListItems", "Home", new { searchGender = "female", searchCategory = "clothes", searchSubcategory = SubcategoryClothes.Dresses }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink(SubcategoryClothes.Blazers.ToString(), "ListItems", "Home", new { searchGender = "female", searchCategory = "clothes", searchSubcategory = SubcategoryClothes.Blazers }, null)
                                                </li>
                                               
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>@Html.ActionLink("All shoes", "ListItems", "Home", new { searchGender = "female", searchCategory = "shoes" }, null)</h5>
                                            <ul>
                                                <li>
                                                    @Html.ActionLink(SubcategoryShoes.Boots.ToString(), "ListItems", "Home", new { searchGender = "female", searchCategory = "shoes" , searchSubcategory = SubcategoryShoes.Boots }, null)
                                                </li>                 
                                                <li>                  
                                                    @Html.ActionLink(SubcategoryShoes.Heels.ToString(), "ListItems", "Home", new { searchGender = "female", searchCategory = "shoes" , searchSubcategory = SubcategoryShoes.Heels }, null)
                                                </li>                 
                                                <li>                  
                                                    @Html.ActionLink(SubcategoryShoes.Sandals.ToString(), "ListItems", "Home", new { searchGender = "female", searchCategory = "shoes" , searchSubcategory = SubcategoryShoes.Sandals }, null)
                                                </li>                 
                                                <li>                  
                                                    @Html.ActionLink(SubcategoryShoes.Trainers.ToString(), "ListItems", "Home", new { searchGender = "female", searchCategory = "shoes" , searchSubcategory = SubcategoryShoes.Trainers }, null)
                                                </li>                 
                                                <li>                  
                                                    @Html.ActionLink(SubcategoryShoes.Shoes.ToString(), "ListItems", "Home", new { searchGender = "female", searchCategory = "shoes" , searchSubcategory = SubcategoryShoes.Shoes }, null)
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>@Html.ActionLink("All acessories", "ListItems", "Home", new { searchGender = "female", searchCategory = "accessories" }, null)</h5>
                                            <ul>
                                                <li>
                                                    @Html.ActionLink(SubcategoryAccessories.Belts.ToString(), "ListItems", "Home", new { searchGender = "female", searchCategory = "accessories", searchSubcategory = SubcategoryAccessories.Belts }, null)
                                                </li>                
                                                <li>
                                                    @Html.ActionLink(SubcategoryAccessories.Glasses.ToString(), "ListItems", "Home", new { searchGender = "female", searchCategory = "accessories", searchSubcategory = SubcategoryAccessories.Glasses }, null)
                                                </li>                
                                                <li>
                                                    @Html.ActionLink(SubcategoryAccessories.Hats.ToString(), "ListItems", "Home", new { searchGender = "female", searchCategory = "accessories", searchSubcategory = SubcategoryAccessories.Hats }, null)
                                                </li>                
                                                <li>
                                                    @Html.ActionLink(SubcategoryAccessories.Jewellery.ToString(), "ListItems", "Home", new { searchGender = "female", searchCategory = "accessories", searchSubcategory = SubcategoryAccessories.Jewellery }, null)
                                                </li>                
                                                <li>
                                                    @Html.ActionLink(SubcategoryAccessories.MobilePhoneCases.ToString(), "ListItems", "Home", new { searchGender = "female", searchCategory = "accessories", searchSubcategory = SubcategoryAccessories.MobilePhoneCases }, null)
                                                </li>                
                                                <li>
                                                    @Html.ActionLink(SubcategoryAccessories.Scarves.ToString(), "ListItems", "Home", new { searchGender = "female", searchCategory = "accessories", searchSubcategory = SubcategoryAccessories.Scarves }, null)
                                                </li>                
                                                <li>
                                                    @Html.ActionLink(SubcategoryAccessories.Sunglasses.ToString(), "ListItems", "Home", new { searchGender = "female", searchCategory = "accessories", searchSubcategory = SubcategoryAccessories.Sunglasses }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink(SubcategoryAccessories.Watches.ToString() , "ListItems", "Home", new { searchGender = "female", searchCategory = "accessories", searchSubcategory = SubcategoryAccessories.Watches }, null)
                                                </li>
                                            </ul>
                                            <h5>@Html.ActionLink("All bags", "ListItems", "Home", new { searchGender = "female", searchCategory = Category.Bags}, null)</h5>
                                            <ul>
                                                <li>
                                                    @Html.ActionLink(SubcategoryBags.Backpacks.ToString(), "ListItems", "Home", new { searchGender = "female", searchCategory = Category.Bags, searchSubcategory = SubcategoryBags.Backpacks }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink(SubcategoryBags.Bag.ToString(), "ListItems", "Home", new { searchGender = "female", searchCategory = Category.Bags, searchSubcategory = SubcategoryBags.Bag }, null)
                                                </li>
                                                <li>
                                                    @Html.ActionLink(SubcategoryBags.Wallets.ToString(), "ListItems", "Home", new { searchGender = "female", searchCategory = Category.Bags, searchSubcategory = SubcategoryBags.Wallets }, null)
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="banner">
                                                <a href="#">
                                                    <img src="~/img/banner.jpg" class="img img-responsive" alt="">
                                                </a>
                                            </div>
                                            <div class="banner">
                                                <a href="#">
                                                    <img src="~/img/banner2.jpg" class="img img-responsive" alt="">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown yamm-fw" id="SellLink">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Sell <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-offset-4 col-sm-3">
                                            <h5><a href="~/storeitems/create1">Sell</a></h5>
                                            <h5>Learn more</h5>
                                        </div>
                                       
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>

                    
                </ul>

                

            </div>
            <!--/.nav-collapse -->

            <div class="navbar-buttons">
                                            
                <div class="navbar-collapse collapse right" id="basket-overview">
                    <a href="~/Users/ShoppingCart" class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span class="hidden-sm">Shop cart</span></a>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Seller"))
                    {
                        <a href="~/Users/GetSellings" class="btn btn-primary navbar-btn"><i class="fa fa-briefcase"></i><span class="hidden-sm">Selling Items</span></a>
                    }
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <a href="~/Admin/Index" class="btn btn-danger navbar-btn"><i class="fa fa-warning"></i><span class="hidden-sm">Admin Panel</span></a>
                    }
                   
                </div>
                <!--/.nav-collapse -->

                <div class="navbar-collapse collapse right" id="search-not-mobile">
                    <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                </div>

            </div>

            <div class="collapse clearfix" id="search">

                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">

                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>

                        </span>
                    </div>
                </form>

            </div>
            <!--/.nav-collapse -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#navbar -->
    <!-- *** NAVBAR END *** -->



    <div id="all">





        <div id="content">

            @RenderBody();
      


        </div>





        <!-- /#content -->
        <!-- *** FOOTER ***
        _________________________________________________________ -->
        <div id="footer" data-animate="fadeInUp">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <h4>Pages</h4>

                        <ul>
                            <li>
                                <a href="text.html">About us</a>
                            </li>
                            <li>
                                <a href="text.html">Terms and conditions</a>
                            </li>
                            <li>
                                <a href="faq.html">FAQ</a>
                            </li>
                            <li>
                                <a href="contact.html">Contact us</a>
                            </li>
                        </ul>

                        <hr>

                        <h4>User section</h4>

                        <ul>
                            <li>
                                <a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                            </li>
                            <li>
                                <a href="register.html">Regiter</a>
                            </li>
                        </ul>

                        <hr class="hidden-md hidden-lg hidden-sm">

                    </div>
                    <!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6">

                        <h4>Top categories</h4>

                        <h5>Men</h5>

                        <ul>
                            <li>
                                <a href="category.html">T-shirts</a>
                            </li>
                            <li>
                                <a href="category.html">Shirts</a>
                            </li>
                            <li>
                                <a href="category.html">Accessories</a>
                            </li>
                        </ul>

                        <h5>Ladies</h5>
                        <ul>
                            <li>
                                <a href="category.html">T-shirts</a>
                            </li>
                            <li>
                                <a href="category.html">Skirts</a>
                            </li>
                            <li>
                                <a href="category.html">Pants</a>
                            </li>
                            <li>
                                <a href="category.html">Accessories</a>
                            </li>
                        </ul>

                        <hr class="hidden-md hidden-lg">

                    </div>
                    <!-- /.col-md-3 -->

                    <div class="col-md-3 col-sm-6">

                        <h4>Where to find us</h4>

                        <p>
                            <strong>Obaju Ltd.</strong>
                            <br>13/25 New Avenue
                            <br>New Heaven
                            <br>45Y 73J
                            <br>England
                            <br>
                            <strong>Great Britain</strong>
                        </p>

                        <a href="contact.html">Go to contact page</a>

                        <hr class="hidden-md hidden-lg">

                    </div>
                    <!-- /.col-md-3 -->



                    <div class="col-md-3 col-sm-6">

                        <h4>Get the news</h4>

                        <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

                        <form>
                            <div class="input-group">

                                <input type="text" class="form-control">

                                <span class="input-group-btn">

                                    <button class="btn btn-default" type="button">Subscribe!</button>

                                </span>

                            </div>
                            <!-- /input-group -->
                        </form>

                        <hr>

                        <h4>Stay in touch</h4>

                        <p class="social">
                            <a href="#" class="facebook external" data-animate-hover="shake"><i class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter external" data-animate-hover="shake"><i class="fa fa-twitter"></i></a>
                            <a href="#" class="instagram external" data-animate-hover="shake"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="gplus external" data-animate-hover="shake"><i class="fa fa-google-plus"></i></a>
                            <a href="#" class="email external" data-animate-hover="shake"><i class="fa fa-envelope"></i></a>
                        </p>


                    </div>
                    <!-- /.col-md-3 -->

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->
        </div>
        <!-- /#footer -->
        <!-- *** FOOTER END *** -->
        <!-- *** COPYRIGHT ***
        _________________________________________________________ -->
        <div id="copyright">
            <div class="container">
                <div class="col-md-6">
                    <p class="pull-left">© 2015 Your name goes here.</p>

                </div>
                <div class="col-md-6">
                    <p class="pull-right">
                        Template by <a href="http://bootstrapious.com/e-commerce-templates">Bootstrapious</a> with support from <a href="https://kakusei.cz">Kakusei</a>
                        <!-- Not removing these links is part of the licence conditions of the template. Thanks for understanding :) -->
                    </p>
                </div>
            </div>
        </div>
        <!-- *** COPYRIGHT END *** -->



    </div>
    <!-- /#all -->
    <!-- *** SCRIPTS TO INCLUDE ***
    _________________________________________________________ -->
    @Scripts.Render("~/bundles/template-scripts")
    @RenderSection("scripts", required: false)


</body>

</html>