@using SecondHandStoreApp.Models
@model SecondHandStoreApp.Models.LoginViewModel
@using Microsoft.AspNet.Identity

<div id="top">
    <div class="container">
        <div class="col-md-6 offer" data-animate="fadeInDown">
            @*<a href="#" class="btn btn-success btn-sm" data-animate-hover="shake">Offer of the day</a>  <a href="#">Get flat 35% off on orders over $50!</a>*@
        </div>
        <div class="col-md-6" data-animate="fadeInDown">
            <ul class="menu">
                @if (Request.IsAuthenticated)
                {                
                    <li>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm",@class="form-inline"}))
                        {
                             @Html.AntiForgeryToken()

                             @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Edit", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
                             <span> <a href="#"> | </a> </span>
                             <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>

                        }
                    </li>

                    if (User.IsInRole("Admin"))
                    {
                        <li><a href="~/Admin/Index">ADMIN</a></li>
                    }
                }
                else
                {
                        <li><a href="#" data-toggle="modal" id="loginLink" data-target="#login-modal">Login</a></li>
                        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                }
             
            </ul>

        </div>
    </div>
    <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
        <div class="modal-dialog modal-sm">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="Login">Customer login</h4>
                </div>
                <div class="modal-body">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = Request.Url.PathAndQuery}, FormMethod.Post, new { role = "form" }))
                    {
                        @Html.AntiForgeryToken()                   
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">                                                     
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })                                               
                        </div>
                        <div class="form-group">                           
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })                                                
                        </div>
                        <div class="form-group">                                                       
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)                                                 
                        </div>

                        <p class="text-center">
                            <button class="btn btn-primary" type="submit"><i class="fa fa-sign-in"></i> Log in</button>
                        </p>
                    }
                    <div class="text-center">or</div>
                    <section id="socialLoginForm" class="text-center">
                        @Html.Partial("_ExternalLoginsListPartial",  new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                    </section>
                    <hr />
                    <p class="text-center text-muted">Not registered yet?</p>
                    <p class="text-center text-muted">
                        @Html.ActionLink("Register now", "Register","Account")                      
                        ! It is easy and done in 1&nbsp;minute and gives you access to special discounts and much more!
                    </p>
                                                                  
                </div>
            </div>
        </div>
    </div>

</div>
