@using SecondHandStoreApp.Models
@model SecondHandStoreApp.Models.StoreItem

@{
    ViewBag.Title = "Create";
}

<div class="container">

    <div class="col-md-12">
        <ul class="breadcrumb">
            <li>
                <a href="~/Home/Index">Home</a>
            </li>
            <li>Sell - Item</li>
        </ul>
    </div>

    <div class="col-md-12" id="checkout">

        <div class="box">

            <form action="~/StoreItems/Create1" method="post" >
                @Html.AntiForgeryToken()
                <h1>Start selling</h1>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @if (Model != null &&  Model.ID != 0)
                {
                    @Html.HiddenFor(model => model.ID)
                }


                <div class="form-horizontal">

                    <ul class="nav nav-pills nav-justified">
                        <li class="active">
                            <a href="#"><i class="fa fa-map-marker"></i><br>Item</a>
                        </li>
                        <li class="disabled">
                            <a href="#"><i class="fa fa-truck"></i><br>Details</a>
                        </li>
                        <li class="disabled">
                            <a href="#"><i class="fa fa-money"></i><br> Bank account</a>
                        </li>
                        <li class="disabled">
                            <a href="#"><i class="fa fa-eye"></i><br>Check & done</a>
                        </li>
                    </ul>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="content">
                        <div class="row">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ItemName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.ItemName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.ItemName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.itemGender, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EnumDropDownListFor(model => model.itemGender, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.itemGender, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.category, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EnumDropDownListFor(model => model.category, htmlAttributes: new { @class = "form-control category" })
                                    @Html.ValidationMessageFor(model => model.category, "", new { @class = "text-danger" })
                                </div>
                            </div>


                            <div class="form-group Clothes">
                                @Html.LabelFor(model => model.subcategoryClothes, htmlAttributes: new { @class = "control-label col-md-2 " })
                                <div class="col-md-10">
                                    @Html.EnumDropDownListFor(model => model.subcategoryClothes, htmlAttributes: new { @class = "form-control " })
                                    @Html.ValidationMessageFor(model => model.subcategoryClothes, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group Shoes">
                                @Html.LabelFor(model => model.subcategoryShoes, htmlAttributes: new { @class = "control-label col-md-2 " })
                                <div class="col-md-10">
                                    @Html.EnumDropDownListFor(model => model.subcategoryShoes, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.subcategoryShoes, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group Bags">
                                @Html.LabelFor(model => model.subcategoryBags, htmlAttributes: new { @class = "control-label col-md-2 " })
                                <div class="col-md-10">
                                    @Html.EnumDropDownListFor(model => model.subcategoryBags, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.subcategoryBags, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group Accessories">
                                @Html.LabelFor(model => model.subcategoryAccessories, htmlAttributes: new { @class = "control-label col-md-2 " })
                                <div class="col-md-10">
                                    @Html.EnumDropDownListFor(model => model.subcategoryAccessories, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.subcategoryAccessories, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-5">
                                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <!-- /.row -->


                        </div>

                    <div class="box-footer">
                        <div class="pull-left">
                            <a href="~/Home/Index" class="btn btn-default"><i class="fa fa-chevron-left"></i>Back to shop</a>
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">
                                Continue<i class="fa fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- /.box -->


    </div>
    <!-- /.col-md-12 -->


</div>
<!-- /.container -->



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

<script>
     $(document).ready(function(){
        hideAll();

    $( ".category" )
          .change(function () {
              switch($(this).val()) {
                  case "0":
                      hideAll();
                      $(".Clothes").show();
                      
                      break;
                  case "2":
                      hideAll();
                      $(".Shoes").show();
                      break;
                  case "3":
                      hideAll();
                      $(".Accessories").show();
                      break;
                  case "1":
                      hideAll();
                      $(".Bags").show();
                      break;
                  default:
                      console.log($(this).val());
                      hideAll();
              }
           })
      .change();

        function hideAll(){
            $(".Shoes").hide();
            $(".Clothes").hide();
            $(".Accessories").hide();
            $(".Bags").hide();
            console.log("hide all");
        }

        $(".nav .active").removeClass("active");
        $("#SellLink").addClass("active");

        });
</script>    

}
