@model SecondHandStoreApp.Models.StoreItem

@{
    ViewBag.Title = "Delete";
}

<div class="container">

    <div class="col-md-12">
        <ul class="breadcrumb">
            <li>
                <a href="~/Home/Index">Home</a>
            </li>
            <li>
                @Html.ActionLink(@Model.itemGender.ToString(), "ListItems", "Home", new { searchGender = Model.itemGender, searchCategory = "clothes" }, null)
            </li>
            <li>
                @Html.ActionLink(@Model.category.ToString(), "ListItems", "Home", new { searchGender = Model.itemGender, searchCategory = Model.category }, null)
            </li>
            <li>@Model.ItemName</li>
        </ul>

    </div>

   
    <div class="col-md-9">
        <h2>Delete Item ?</h2>
        <div class="row" id="productMain">
            <div class="col-sm-6">
                <div id="mainImage">
                    <img src="~/@Model.Images.ElementAt(0).Image" alt="" class="img-responsive">
                </div>
                <br />
                <br />
                <br />
                <div class="col-sm-10 col-sm-offset-1" >
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                     
                        <input type="submit" value="Delete" class="btn btn-danger form-control" />                         
                        
                    }
                </div>

            </div>
            <div class="col-sm-6">
                <div class="box">
                    <h1 class="text-center">@Model.ItemName</h1>
                    <p class="goToDescription">
                        <a href="#details" class="scroll-to">Scroll to product details, material & care and sizing</a>
                    </p>
                    <p class="price">@Model.Price</p>
                </div>

                <div class="row" id="thumbs">
                    @foreach (var item in Model.Images)
                    {
                        <div class="col-xs-4">
                            <a href="~/@item.Image" class="thumb">
                                <img src="~/@item.Image" alt="" style="width:110px; height:100px;" class="img-responsive">
                            </a>
                        </div>
                    }

                </div>
            </div>

        </div>


        <div class="box" id="details">
            <p>
                <h4>Product details</h4>
            <p>@Model.Description</p>
            <h4>Material & care</h4>
            <ul>
                <li>
                    @Model.material
                </li>
            </ul>
            <h4>Size & Fit</h4>
            <ul>
                <li>
                    @Model.size ?? @Model.shoeSize
                </li>
            </ul>
            <h4>Condition</h4>
            <ul>
                <li>
                    @Model.condition
                </li>
            </ul>
            <h4>Brand</h4>
            <ul>
                <li>
                    @Model.Brand
                </li>
            </ul>

            <hr>

        </div>

   
    </div>
    <!-- /.col-md-9 -->
</div>
<!-- /.container -->




