@model SecondHandStoreApp.Models.StoreItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>StoreItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.seller.TransactionNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.seller.TransactionNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.itemGender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemGender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subcategoryClothes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subcategoryClothes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subcategoryBags)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subcategoryBags)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subcategoryShoes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subcategoryShoes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.subcategoryAccessories)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.subcategoryAccessories)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.condition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.condition)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.material)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.material)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shoeSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shoeSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Brand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.width)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.width)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
