@using SecondHandStoreApp.Models
@model SecondHandStoreApp.Models.StoreItem

@{
    ViewBag.Title = "Details";
}

<div>

</div>
<div class="container">

    <div class="col-md-12">
        <ul class="breadcrumb">
            <li>
                <a href="~/Home/Index">Home</a>
            </li>
            <li>
                @Html.ActionLink(@Model.itemGender.ToString(), "ListItems", "Home", new { searchGender = Model.itemGender, searchCategory = "clothes" }, null)
            </li>
            <li>
                @Html.ActionLink(@Model.category.ToString(), "ListItems", "Home", new { searchGender = Model.itemGender, searchCategory = Model.category }, null)
            </li>
            <li>@Model.ItemName</li>
        </ul>

    </div>

    <div class="col-md-3">
        <!-- *** MENUS AND FILTERS ***
        _________________________________________________________ -->
        <div class="panel panel-default sidebar-menu">

            <div class="panel-heading">
                <h3 class="panel-title">Categories</h3>
            </div>

            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked category-menu">
                    <li class=@(Model.itemGender.HasFlag(Gender.Male)?"active":"")>
                        @Html.ActionLink("Men", "ListItems", "Home", new { searchGender = Gender.Male, searchCategory = "no" }, null)
                        <ul>
                            <li>
                                @Html.ActionLink("Cloaths", "ListItems", "Home", new { searchGender = Gender.Male, searchCategory = Category.Clothes }, null)
                            </li>
                            <li>
                                @Html.ActionLink("Shoes", "ListItems", "Home", new { searchGender = Gender.Male, searchCategory = Category.Shoes }, null)
                            </li>
                            <li>
                                @Html.ActionLink("Accessories", "ListItems", "Home", new { searchGender = Gender.Male, searchCategory = Category.Accessories }, null)
                            </li>
                            <li>
                                @Html.ActionLink("Bags", "ListItems", "Home", new { searchGender = Gender.Male, searchCategory = Category.Bags }, null)
                            </li>
                        </ul>
                    </li>

                    <li class=@(Model.itemGender.HasFlag(Gender.Female)? "active" : "")>
                        @Html.ActionLink("Ladies", "ListItems", "Home", new { searchGender = Gender.Female, searchCategory = "no" }, null)
                        <ul>
                            <li>
                                @Html.ActionLink("Cloaths", "ListItems", "Home", new { searchGender = Gender.Female, searchCategory = Category.Clothes }, null)
                            </li>
                            <li>
                                @Html.ActionLink("Shoes", "ListItems", "Home", new { searchGender = Gender.Female, searchCategory = Category.Shoes }, null)
                            </li>
                            <li>
                                @Html.ActionLink("Accessories", "ListItems", "Home", new { searchGender = Gender.Female, searchCategory = Category.Accessories }, null)
                            </li>
                            <li>
                                @Html.ActionLink("Bags", "ListItems", "Home", new { searchGender = Gender.Female, searchCategory = Category.Bags }, null)
                            </li>
                        </ul>
                    </li>

                </ul>

            </div>
        </div>

        <div class="panel panel-default sidebar-menu">

            <div class="panel-heading">
                <h3 class="panel-title">Brands <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></h3>
            </div>

            <div class="panel-body">

                <form>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">Armani (10)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">Versace (12)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">Carlo Bruni (15)
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">Jack Honey (14)
                            </label>
                        </div>
                    </div>

                    <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>

                </form>

            </div>
        </div>

        <div class="panel panel-default sidebar-menu">

            <div class="panel-heading">
                <h3 class="panel-title">Colours <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> Clear</a></h3>
            </div>

            <div class="panel-body">

                <form>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> <span class="colour white"></span> White 
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> <span class="colour blue"></span> Blue 
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> <span class="colour green"></span> Green 
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> <span class="colour yellow"></span> Yellow 
                            </label>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> <span class="colour red"></span> Red 
                            </label>
                        </div>
                    </div>

                    <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i> Apply</button>

                </form>

            </div>
        </div>

        <!-- *** MENUS AND FILTERS END *** -->

        <div class="banner">
            <a href="#">
                <img src="img/banner.jpg" alt="sales 2014" class="img-responsive">
            </a>
        </div>
    </div>

    <div class="col-md-9">

        <div class="row" id="productMain">
            <div class="col-sm-6">
                <div id="mainImage">
                    <img src="~/@Model.Images.ElementAt(0).Image" alt="" class="img-responsive">
                </div>

            </div>
            <div class="col-sm-6">
                <div class="box">
                    <h1 class="text-center">@Model.ItemName</h1>
                    <p class="goToDescription">
                        <a href="#details" class="scroll-to">Scroll to product details, material & care and sizing</a>
                    </p>
                    <p class="price">@Model.Price</p>

                    <p class="text-center buttons">
                        @if (!Model.isSold)
                        {
                            <a href="~/Users/AddToCart/@Model.ID" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> Add to cart</a>
                        }
                        else
                        {
                            <label class="label label-danger"><i class="fa fa-times"></i> Already Sold...</label>
                        }

                    </p>


                </div>

                <div class="row" id="thumbs">
                    @foreach (var item in Model.Images)
                    {
                        <div class="col-xs-4">
                            <a href="~/@item.Image" class="thumb">
                                <img src="~/@item.Image" alt="" style="width:110px; height:100px;" class="img-responsive">
                            </a>
                        </div>
                    }
                                        
                </div>
            </div>

        </div>


        <div class="box" id="details">
            <p>
                <h4>Product details</h4>
            <p>@Model.Description</p>
            <h4>Material & care</h4>
            <ul>
               <li>
                   @Model.material
               </li>
            </ul>
            <h4>Size & Fit</h4>
            <ul>
                <li>
                    @(Model.category.HasFlag(Category.Shoes)? Model.shoeSize.ToString() : Model.size.ToString())
                </li>
            </ul>
            <h4>Condition</h4>
            <ul>
                <li>
                    @Model.condition
                </li>
            </ul>
            <h4>Brand</h4>
            <ul>
                <li>
                    @Model.Brand
                </li>
            </ul>

           

            <hr>
            @*<div class="social">
                <h4>Show it to your friends</h4>
                <p>
                    <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                    <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                </p>
            </div>*@
        </div>

        <div class="row same-height-row">
            <div class="col-md-3 col-sm-6">
                <div class="box same-height">
                    <h3>You may also like these products</h3>
                </div>
            </div>

           @foreach (SecondHandStoreApp.Models.StoreItem item in ViewBag.popularItems)
            {
            <div class="col-md-3 col-sm-6">
                <div class="product same-height">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <a href="detail.html">
                                    <img src="~/@item.Images.ElementAt(0).Image" alt="" class="img-responsive prodSliderImg">
                                </a>
                            </div>
                            <div class="back">
                                <a href="detail.html">
                                    <img src="~/@item.Images.ElementAt(1).Image" alt="" class="img-responsive prodSliderImg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <a href="detail.html" class="invisible">
                        <img src="~/@item.Images.ElementAt(2).Image" alt="" class="img-responsive prodSliderImg">
                    </a>
                    <div class="text">
                        <h3>@item.ItemName</h3>
                        <p class="price">$@item.Price</p>
                    </div>
                </div>
                <!-- /.product -->
            </div>
           }
                    

        </div>


    </div>
    <!-- /.col-md-9 -->
</div>
<!-- /.container -->
