@model SecondHandStoreApp.Models.ApplicationUser

@{
    ViewBag.Title = "DisableUser";
}


<div class="container">

    <div class="col-md-12">
        <ul class="breadcrumb">
            <li>
                <a href="~/Home/Index">Home</a>
            </li>
            <li>
                <a href="~/Admin/Index">Admin</a>
            </li>
            <li>
                <a href="~/Admin/ListUsers">List Users</a>
            </li>
            <li>
                Disable User
            </li>

        </ul>

    </div>
    <div class="col-md-12">
        <div class="box">
          
            <h2>Are you sure you want to Disable this?</h2>
            <div>
                <h4>ApplicationUser</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>


                    <dt>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LockoutEndDateUtc)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LockoutEndDateUtc)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LockoutEnabled)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LockoutEnabled)
                    </dd>


                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Disable" class="btn btn-danger" /> |
                        @Html.ActionLink("Back to List", "ListUsers")
                    </div>
                }
            </div>
        </div>
    </div>
</div>

