@model SecondHandStoreApp.Models.StoreItem

@{
    ViewBag.Title = "DisableItem";
}

<div class="container">

    <div class="col-md-12">
        <ul class="breadcrumb">
            <li>
                <a href="~/Home/Index">Home</a>
            </li>
            <li>
                <a href="~/Admin/Index">Admin</a>
            </li>
            <li>
                <a href="~/Admin/ListStoreItems">Items</a>
            </li>
            <li>
                Enable Item
            </li>

        </ul>

    </div>

    <div class="col-md-12">
        <div class="box">
            <h3>Are you sure you want to enable this?</h3>
            <div>
                <h4>StoreItem</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.seller.ID)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.seller.ID)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IsAvailable)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsAvailable)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DateCreated)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IsApproved)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.IsApproved)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ItemName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ItemName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Price)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.itemGender)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.itemGender)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.category)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.category)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.subcategoryClothes)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.subcategoryClothes)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.subcategoryBags)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.subcategoryBags)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.subcategoryShoes)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.subcategoryShoes)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.subcategoryAccessories)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.subcategoryAccessories)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.condition)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.condition)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.material)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.material)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.size)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.size)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.shoeSize)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.shoeSize)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Brand)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Brand)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.length)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.length)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.width)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.width)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Enable" class="btn btn-success" /> |
                        @Html.ActionLink("Back to List", "ListStoreItems")
                    </div>
                }
            </div>
        </div>
    </div>
</div>


