@model PagedList.IPagedList<SecondHandStoreApp.Models.ApplicationUser>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "ListUsers";
}

<h2>ListUsers</h2>

@using (Html.BeginForm("ListUsers", "Admin", FormMethod.Get))
{
    <p>
        Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Full Name", "ListUsers", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Email", "ListUsers", new { sortOrder = ViewBag.EmailSortParm , currentFilter=ViewBag.CurrentFilter })
        </th>

        <th>
            Lockout End Date
        </th>
        <th>
            Email Confirmed
        </th>    
        <th>
           Phone Number
        </th>

        <th>
            City
        </th>

        <th>
            Adress
        </th>

        <th>
           Seller ID
        </th>
           
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MyUser.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailConfirmed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.MyUser.City)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.MyUser.Address)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.MyUser.SellerID)
        </td>

        <td>
            @Html.ActionLink("Details", "DetailsUser", new { id=item.Id } ,new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "DisableUser", new { id=item.Id }, new { @class = "btn btn-danger" }) |
        </td>
    </tr>
}

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("ListUsers", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
